<<<<<<< HEAD
=======

>>>>>>> 12a6c1683d7ad493dc202a2c3fe518b908553586
html {
  background-color: #B49C9C;
};

img {
  margin-left: auto;
  margin-right: auto;
}

hgroup {
  margin-left: auto;
  margin-right: auto;
};

body {
  border-style: groove;
  border-width: medium;
}

h1, h3 {
  font-style: oblique;
}
